* {
    margin: 0;
    padding: 0;
}

:root {
    --main: #4c3b4d;
    --secondary: white;
    --accent: #ffeedb;
    --dark: #3e313f;
}

body {
    background-color: var(--secondary);
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

header {
    background-color: var(--secondary);
    color: var(--main);
    font-family: "Poetsen One", sans-serif;
    padding: 3vh;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
}

header h1 {
    font-size: 4vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {}

nav a {
    text-decoration: none;
    padding: 1.5vh;
    border-radius: 2vh;
    color: var(--main);
    font-size: 1.8vh;
}

.main-title h1 {
    font-family: "Poetsen One", sans-serif;
    font-size: 5vh;
}

.grid {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
    display: grid;
}

.attraction {
    background-color: var(--accent);
    padding: 1vh;
    margin: 2vh;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;

    height: 50vh;
    width: 45vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.attraction img {
    height: 25vh;
    width: 100%;
    border-radius: 2vh;
}

.attraction .title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--main);
    font-size: 3vh;
    margin-top: 1vh;
    text-align: center;
}

.attraction .subtitle {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--main);
    font-size: 2vh;
    margin-top: 1vh;
    text-align: center;
}   

.attraction .openes-on {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--main);
    font-size: 1.3vh;
    margin-top: 1vh;
    text-align: center;
}   

.attraction .checkout {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 2vh;
    margin-top: 2vh;
    padding: 2vh;
    background-color: var(--main);
    width: 70%;
    text-align: center;
    border-radius: 2vh;
    text-decoration: none;
}

.login-form {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--accent);
    padding: 1vh;
    margin: 2vh;
    border-radius: 3vh;
    width: 45vh;
}

.login-form h2 {
    margin-bottom: 1vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input {
    display: block;
    background-color: var(--accent);
    border-radius: 1vh;
    height: 3vh;
    width: 70%;
    margin-bottom: 3vh;
}

.label {
    display: block;
    font-family: "Poetsen One", sans-serif;
}

.login-button {
    font-family: "Poetsen One", sans-serif;
    background-color: var(--main);
    text-align: center;
    color: var(--secondary);
    font-size: 2vh;
    height: 70%;
    border-radius: 2vh;
    padding: 2vh;
}

.main {
    display: grid;
    grid-template-rows: 30% 30% 30%;
}

.main img {
    overflow: hidden;
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.flex-direction-column {
    flex-direction: column;
}

#center-text {
    text-align: center;
}

/* for horeca.php */
.ph {
    display: flex;
    justify-content: center;
    margin: 5px;
    flex-wrap: wrap;
}
.ph1{
    
    margin: 5px;

    width: 25%;
}
.dogg{
    margin-top: 1rem;
    height: 200px;
    width: 100%;

    border-radius: 10px;
}
.ph2{
      

    margin: 5px;

    width: 25%;
    
}
.bakery{
    
    
    margin-top: 1rem;
    height: 200px;
    width: 100%;

    border-radius: 10px;
}
.ph3{

    margin: 5px;
    width: 25%;
}
.kiosk{
    
    margin-top: 1rem;
    height: 200px;
    width: 100%;

    border-radius: 10px;

}
.ph4{
}

.ph5{

    margin: 5px;
    width: 25%;
}
.ph6{

    margin: 5px;
    width: 25%;
}
.collapsible {
    background-image: "assets/Thebakery.webp";
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    height: 200px;
}
  
  
  .active, .collapsible:hover {
    background-color: #cccccc91;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;

    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }  
